@font-face
{
font-family: 'KGNeatlyPrintedSpaced';
src: url(./font/KGNeatlyPrintedSpaced.woff2) format('woff2'),
url(./font/KGNeatlyPrintedSpaced.woff) format('woff');
font-weight: normal;
font-style: normal;
}


@font-face 
{
font-family: SegoeUI;
src: local("Segoe UI"),
url(./fonts/segoen.woff2) format("woff2"),
url(./fonts/segoen.woff) format("woff"),
url(./fonts/segoen.ttf) format("truetype");
font-weight: 400;
}


@font-face
{
font-family: SegoeUI;
src: local("Segoe UI Bold"),
url(./fonts/segoeb.woff2) format("woff2"),
url(./fonts/segoeb.woff) format("woff"),
url(./fonts/segoeb.ttf) format("truetype");
font-weight: 600;
}
