@font-face {
	font-family: 'KGNeatlyPrintedSpaced';
	src: url(./KGNeatlyPrintedSpaced.woff2) format('woff2'),
	url(./KGNeatlyPrintedSpaced.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
