header
{margin-top: 10px;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
text-align: center;
padding: 0 10px;}

header h1
{font-weight: normal;
margin-bottom: 12px;
font-size: 40px;
margin-top: 10px;}

.container
{
background-image: url(./blur2.png);
width: 360px;
height: 780px;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
}

.body
{
align-content: center;
align-self: center;
background-repeat: repeat;
background-position: 0px 0px;
background-size: auto;
alignment-baseline: central;
font-weight: normal;
}

.backgroundvideo { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.stop1 {
	background:linear-gradient(to bottom, #39948c 5%, #116975 100%);
	background-color:#39948c;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:14px 16px;
	text-decoration:none;
}
.stop1:hover {
	background:linear-gradient(to bottom, #116975 5%, #39948c 100%);
	background-color:#116975;
}
.stop1:active {
	position:relative;
	top:1px;
}
