header {
	margin-top: 2px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	text-align: center;
	padding: 0 10px;
}

header h1 {
  font-weight: normal;
  margin-bottom: 12px;
  font-size: 40px;
  margin-top: 10px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0 30px;
}

.content figure {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.content figcaption {
  font-size: 12px;
  padding-top: 10px;
}

.content div.dropdown {
  margin: 20px auto;
  width: 130px;
}

.content blockquote p 
{
  font-size: 14px;
  padding: 15px 20px;
  border-left: 3px solid #edecf2;
  background-color: #f9f9fb;
}


.container
{
	background-image: url(./blur.png);
	width: 400px;
        margin-top: 5px;
	margin-right: auto;
	margin-left: auto
	margin-bottom: 5px;
 }



video#bgVideo 
{
position: absolute;
z-index: -1;
left: 0;
right: 0;
top: 0px; 
left: 0px; 
min-width: 100%; 
min-height: 100%;

}
