header {
	margin-top: 2px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	text-align: center;
	padding: 0 10px;
}

header h1 {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 40px;
  margin-top: 10px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0 30px;
}

.content figure {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.content figcaption {
  font-size: 12px;
  padding-top: 10px;
}

.content div.dropdown {
  margin: 20px auto;
  width: 130px;
}

.content blockquote p {
  font-size: 14px;
  padding: 15px 20px;
  border-left: 3px solid #edecf2;
  background-color: #f9f9fb;
}


.body
{
	background-image: url(https://github.com/zuzk/tidbit/raw/master/small2.gif);
	background-position: 0px 0px;
	background-size: auto;
	background-repeat: no-repeat;
	align-content: center;
	align-self: center;
	alignment-baseline: central;
}

.container
{
	background-image: url(https://github.com/zuzk/tidbit/raw/master/blur.png);
	background-size: contain;
	background-size: 
; 	width: 500px;
}


.weather1
{
align-content: center;
margin: auto;
width: auto;

}
