header h1
{margin-top: 50px;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
text-align: center;
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
} 


.header1
{margin-top: 100px;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
text-align: center;
background-image: url(/assets/media/visual/element/blur.png);
width: auto;
height: auto;
padding-left: 10px;
padding-right: 10px;
padding-top: 30px;
padding-bottom: 30px;
color: #000000;
}  



.body
{
background-image: url(/assets/yes1.gif);
background-repeat: repeat;
background-attachment: fixed; 
background-size: auto auto;
margin-right: auto;
margin-left: auto;
align-content: center;
align-self: center;
text-align: center;
}
