@font-face
{
font-family: 'KGNeatlyPrintedSpaced';
src: url(/assets/media/visual/element/font/KGNeatlyPrintedSpaced.woff2) format('woff2'),
url(/assets/media/visual/element/font/KGNeatlyPrintedSpaced.woff) format('woff');
font-weight: normal;
font-style: normal;
}


@font-face 
{
font-family: SegoeUI;
src: local('Segoe UI'),
url(/assets/media/visual/element/font/segoen.woff2) format('woff2'),
url(/assets/media/visual/element/font/segoen.woff) format('woff'),
url(/assets/media/visual/element/font/segoen.ttf) format('truetype');
font-weight: 400;
}


@font-face
{
font-family: SegoeUI;
src: local('Segoe UI Bold'),
url(/assets/media/visual/element/font/segoeb.woff2) format('woff2'),
url(/assets/media/visual/segoeb.woff) format('woff'),
url(/assets/media/visual/element/font/segoeb.ttf) format('truetype');
font-weight: 600;
}
