header
{margin-top: 9px;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
text-align: center;}

header h1
{font-weight: normal;
margin-bottom: 12px;
font-size: 40px;
margin-top: 10px;}

.container
{
background-image: url(/assets/media/visual/element/blur.png);
width: 360px;
height: 797px;
margin-top: 15px;
margin-right: auto;
margin-left: auto;
text-align: center;
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
padding-bottom: 15px;
font-family: "Segoe UI";
color: #000000;
font-weight: 400;
}

.body
{
background-image: url(/assets/media/visual/background/spin.gif);
background-repeat: no-repeat;
background-attachment: fixed; 
background-size: 100% 100%;
font-family: "Segoe UI";
color: #000000;
font-weight: 400;
margin-right: auto;
margin-left: auto;
align-content: center;
align-self: center;
text-align: center;
}

.body2
{
background-image: url(/assets/media/visual/background/succ.gif);
background-repeat: repeat;
background-attachment: fixed; 
background-size: auto;
font-family: "Segoe UI";
color: #000000;
font-weight: 400;
margin-right: auto;
margin-left: auto;
}


.stop1 {
	background:linear-gradient(to bottom, #39948c 5%, #116975 100%);
	background-color:#39948c;
	border-radius:1px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	padding:10px 31px;
	text-decoration:none;
	font-family: "Segoe UI";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 12px;
}

.stop1:hover {
	background:linear-gradient(to bottom, #116975 5%, #39948c 100%);
	background-color:#116975;
}
.stop1:active {
	position:relative;
	top:1px;
}

.start1 {
	background:linear-gradient(to bottom, #116975 5%, #39948c 100%);
	background-color:#116975;
	border-radius:1px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	padding:10px 30px;
	text-decoration:none;
        font-family: 'Segoe UI';
	font-size: 16px; 
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 12px;
}


.start1:hover {
	background:linear-gradient(to bottom, #39948c 5%, #116975 100%);
	background-color:#39948c;
}

.start1:active {
	position:relative;
	top:1px;
}


.refresh {
	color:#000000;
	font-family:"Segoe UI";
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	padding:4px 20px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	background:rgb(103, 181, 184);
	background: -moz-linear-gradient(90deg, rgb(103, 181, 184) 31%, rgb(48, 103, 113) 100%);
	background: -webkit-linear-gradient(90deg, rgb(103, 181, 184) 31%, rgb(48, 103, 113) 100%);
	background: -o-linear-gradient(90deg, rgb(103, 181, 184) 31%, rgb(48, 103, 113) 100%);
	background: -ms-linear-gradient(90deg, rgb(103, 181, 184) 31%, rgb(48, 103, 113) 100%);
	background: linear-gradient(0deg, rgb(103, 181, 184) 31%, rgb(48, 103, 113) 100%);
	-webkit-box-shadow:0px 0px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:0px 0px 0px rgba(50, 50, 50, 0.75);
	box-shadow:0px 0px 0px rgba(50, 50, 50, 0.75);
}

.refresh:active {
	position:relative;
	top:1px;
}
